* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: #cccccc;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.search {
    border: 2px solid black;
    min-width: 50%;
    padding: 0.1rem;
}

.container {
    margin: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 1rem;
}

.word {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.definition {
    flex: 2;
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
aside {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    border: 2px solid black;
}

aside p {
    font-size: 1.25rem;
}

aside p span {
    font-weight: 700;
}

button {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-size: 1rem;
}

.login {
    background-color: #2b78e4;
    color: white;
    padding: 0.2em 0.6em;
}
.add {
    background-color: #93c47d;
    color: black;
    padding: 0.4em 0.7em;
}

.likes {
    background-color: #ffd966;
    color: black;
    padding: 0.4em 0.7em;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}
